td{
	color: white;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
p{
  text-align: center;
  color: #FFFFFF;
}
div {
  width: 20%
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}
.form2{
  width: 20%
  border-radius: 5px;
  background-color: #F5F5F5;
  padding: 20px;
}
.form3{
  width: 20%
  border-radius: 5px;
  background-color: #949494;
  padding: 20px;
}